<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="card text-bg-dark col-8">
      <img src="https://wallpapercave.com/wp/wp3785670.jpg" class="card-img" alt="Save the universe">
      <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
        <h5 class="card-title">Create your team and save the universe</h5>
        <button type="button" class="btn btn-success btn-lg m-5">Save the universe</button>
        <p class="card-text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio et, nobis non numquam officiis optio pariatur sint velit.</span></p>
      </div>
    </div>
    <div class="card text-bg-dark col-4">
      <img src="https://wallpapercave.com/wp/wp4330394.jpg" class="card-img" alt="View superheroes">
      <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
        <h5 class="card-title">View all superheroes</h5>
        <button type="button" class="btn btn-primary btn-lg m-5">View superheroes</button>
        <p class="card-text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio et, nobis non numquam officiis optio pariatur sint velit.</span></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card text-bg-dark col-4">
      <img src="https://wallpapercave.com/wp/wp6100205.jpg" class="card-img" alt="View superpowers">
      <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
        <h5 class="card-title">View all superpowers</h5>
        <button type="button" class="btn btn-primary btn-lg m-5">View superpowers</button>
        <p class="card-text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio et, nobis non numquam officiis optio pariatur sint velit.</span></p>
      </div>
    </div>
    <div class="card text-bg-dark col-8">
      <img src="https://wallpapercave.com/wp/wp3793916.jpg" class="card-img" alt="Edit heroes or superpowers">
      <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
        <h5 class="card-title">Custom the superheroes or superpowers</h5>
        <button type="button" class="btn btn-warning btn-lg m-5">Customize your team</button>
        <p class="card-text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio et, nobis non numquam officiis optio pariatur sint velit.</span></p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

