<app-header></app-header>
<div class="content-wrapper">
    <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile class="save-the-universe">
        <button>Save the univers</button>
        <span>Help the heroes to save the universe!</span>
      </mat-grid-tile>
      <mat-grid-tile class="destroy-the-universe">
        <button>Destroy the univers</button>
        <span>Join the villains to destroy the universe!</span>
      </mat-grid-tile>
      <mat-grid-tile class="create-your-story">
        <button>Create your story</button>
        <span>Bring your team and do what do you want in the universe!</span>
      </mat-grid-tile>
    </mat-grid-list>
</div>
