.content-wrapper{
  margin: 80px 24px;
}

mat-grid-tile {
  box-shadow: 0 0 24px 1px #14141460;
  transition: webkit-filter 0.35s linear;
  transition: filter 0.35s linear;
  transition: filter 0.35s linear, -webkit-filter 0.35s linear;
  transition: transform 0.35s;
  cursor: pointer;
}

mat-grid-tile:hover {
  transform: scale(1.1);
  z-index: 1000;
}

/*mat-grid-tile:not(:hover) {*/
/*  -webkit-filter: blur(2px);*/
/*  filter: blur(2px);*/
/*}*/

.save-the-universe {
  background-image: url("https://wallpapercave.com/wp/wp2407334.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.destroy-the-universe {
  background-image: url("https://wallpapercave.com/wp/wp9646474.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.create-your-story {
  background-image: url("https://wallpapercave.com/uwp/uwp1915193.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
