.content-wrapper{
  background-image: url("https://wallpapercave.com/wp/wp2436376.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  width: 100%;
}

.content-cards-home {
  padding: 80px 35px;
}

mat-grid-tile {
  box-shadow: 0 0 24px 1px #14141460;
  transition: webkit-filter 0.35s linear;
  transition: filter 0.35s linear;
  transition: filter 0.35s linear, -webkit-filter 0.35s linear;
  transition: transform 0.35s;
  /*cursor: pointer;*/
}

mat-grid-tile:hover {
  transform: scale(1.1);
  z-index: 1000;
}

/*mat-grid-tile:not(:hover) {*/
/*  -webkit-filter: blur(2px);*/
/*  filter: blur(2px);*/
/*}*/

.save-the-universe {
  background-image: url("https://wallpapercave.com/wp/wp2407334.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.destroy-the-universe {
  background-image: url("https://wallpapercave.com/wp/wp9646474.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.create-your-story {
  background-image: url("https://wallpapercave.com/uwp/uwp1915193.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
  color: white;
}

span {
  font-family: Consolas;
  margin: 0 24px;
}

button {
  margin: 0 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
button:hover {
  background-color: beige;
  border:none;
  border-radius:10px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  transition: all 0.5s;
}
