<app-header></app-header>
<div class="content-wrapper">
  <div class="content-cards-home">
    <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile class="save-the-universe">
        <div class="content-grid">
          <a [routerLink]="['/heroes']"><button>Save the univers</button></a>
          <span>Help the heroes to save the universe!</span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="destroy-the-universe">
        <div class="content-grid">
          <button>Destroy the univers</button>
          <span>Join the villains to destroy the universe!</span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="create-your-story">
        <div class="content-grid">
          <button>Create your story</button>
          <span>Bring your team and do what do you want in the universe!</span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<app-footer></app-footer>
